<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Sign Up</h1>

    <%= form_for(resource, as: resource_name, url: sign_up_path(), data: { controller: 'validate', target: 'validate.form' }) do |f| %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, data: { target: 'validate.input', 
                                        validate: { 
                                          presence: { message: '^Name is required' }
                                        },
                                        action: "keyup->validate#handleChange"},
                         autofocus: true, class: 'form-control', placeholder: "Full Name" %>
        <%= f.errors :first_name %>
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <%= f.text_field :last_name, data: { target: 'validate.input', 
                                        validate: { 
                                          presence: { message: '^Name is required' }
                                        },
                                        action: "keyup->validate#handleChange"}, autofocus: true, class: 'form-control', placeholder: "Full Name" %>
        <%= f.errors :last_name %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, data: { target: 'validate.input', 
                                          validate: { 
                                            presence: { message: '^Email is required' },
                                            length: { minimum: 10 },
                                          },
                                        action: "keyup->validate#handleChange"}, autofocus: false, class: 'form-control', placeholder: "Email Address" %>
        <%= f.errors :email %>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        <%= f.errors :password %>
      </div>

      <div class="form-group">
        <label for="password_confirmation">Confirm Password</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
        <%= f.errors :password_confirmation %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", data: { action: 'validate#submitForm'},
                               class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
